Armory({
  Longsword: Weapon(
      weapon_name: Longsword,
      attack_bonus: 0,
      damage_bonus: 0,
      base_damage_dice: D8,
      crit_threat_range: ( 19, 20 ),
      reach: ( 5 ),
      crit_multiplier: 2,
      melee: true,
      thrown: false,
      racial_group: Some(Elf),
      martial_group: Martial,
      weapon_damage_types: ( [ Slashing, Piercing, Blunt ] ),
      weapon_group: Some( ( HeavyBlades ) ),
    )
})
